body {
    background: #eee;
    font-family: Oswald;
}

#bouwgein {
    display: inline-block;
    text-align: left;
    background: #5C85FF;
    width: 500px;
    margin: 20px 0 0 50px;
    padding: 20px;
    border-radius: 20px;
    height: 650px;
}

#bouwgein h1 {
    margin-top: 10px;
    font-size: 35px;
    color: #001F7A;
}

#bouwgein ul {
    padding-left: 20px;
}

#jeugdland {
    display: inline-block;
    text-align: left;
    background: #5C85FF;
    width: 500px;
    margin: 20px 0 0 50px;
    padding: 20px;
    border-radius: 20px;
    height: 650px;
}

#jeugdland h1 {
    margin-top: 10px;
    font-size: 35px;
    color: #001F7A;
}

#jeugdland ul {
    padding-left: 20px;
}

.submit {
    float: right;
    position: relative;
    width: 150px;
    height: 30px;
    padding: 10px;
    text-align: center;
    background: rgba(0, 31, 122, 0.6);
    border-radius: 10px;
    color: #EFEFEF;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.submit:active {
    background: rgba(0, 31, 122, 1);
    color: #FFFFFF;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

div.form {
    width: 450px;
    height: 450px;
}

div.form span {
    display: inline-block;
    line-height: 200%;
    width: 150px;
}

div.form input { 
}

.textbox {
    width: 180px;
    height: 20px;
    border-radius: 5px;
    border-width: 1px;
    background: rgba(200, 200, 200, 1);
}

.textbox:focus {
    background: rgba(255, 255, 255, 1);
}


span {
    display: block;
}
